<div *ngIf="player" class="flex justify-center pad-y-5 w-full">
  <form
    [formGroup]="detailForm"
    class="w-full scroll"
    (ngSubmit)="savePlayer()"
  >
    <mat-card class="margin-x-5 scroll detail-card">
      <mat-card-header class="margin-bot-8">
        <div class="flex align-center">
          <img class="pic-size" src="{{ player.picture }}" />
          <span class="font-xxl bold margin-x-15">{{ player.name }}</span>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="flex margin-bot-2">
          <mat-form-field class="flex-1 input-field pad-right-5">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
            <mat-error *ngIf="detailForm.controls['name'].errors as userError">
              <span *ngIf="userError['pattern']">
                Name must start with a capital letter and contain only letters
                or spaces
              </span>
              <span *ngIf="userError['required']"> Name is required </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="flex-1 input-field pad-left-5">
            <mat-label>Role</mat-label>
            <input matInput formControlName="role" />
            <mat-error *ngIf="detailForm.controls['role'].errors as userError">
              <span *ngIf="userError['pattern']">
                Role must start with a capital letter and contain only letters
                or spaces
              </span>
              <span *ngIf="userError['required']"> Role is required </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="flex margin-bot-2">
          <mat-form-field class="flex-1 input-field pad-right-5">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" />
            <mat-error *ngIf="detailForm.controls['city'].errors as userError">
              <span *ngIf="userError['pattern']">
                City must start with a capital letter and contain only letters
                or spaces
              </span>
              <span *ngIf="userError['required']"> City is required </span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="flex-1 input-field pad-left-5">
            <mat-label>State</mat-label>
            <input matInput formControlName="state" />
            <mat-error *ngIf="detailForm.controls['state'].errors as userError">
              <span *ngIf="userError['pattern']">
                State must start with a capital letter and contain only letters
                or spaces
              </span>
              <span *ngIf="userError['required']"> State is required </span>
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field class="w-full input-field margin-bot-2">
          <mat-label>Street Address</mat-label>
          <input matInput formControlName="address" />
          <mat-error *ngIf="detailForm.controls['address'].errors as userError">
            <span *ngIf="userError['pattern']">
              Address must start with numbers and end with capitalized words
              (ex. 123 Park Way)
            </span>
            <span *ngIf="userError['required']"> Address is required </span>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-footer class="pad-x-5 pad-bot-5">
        <div class="flex pad-bot-5">
          <button
            type="button"
            class="margin-right-3 flex-1"
            mat-stroked-button
            (click)="cancel()"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="margin-left-3 save-button flex-1"
            mat-flat-button
          >
            Save
          </button>
        </div>
        <div>
          <button
            type="button"
            class="delete-button w-full"
            mat-flat-button
            (click)="deletePlayer()"
          >
            Delete
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </form>
</div>
