.player-card-view {
    min-width: 280px;
    width: 40%;
}

.pic-size {
    height: 50px;
    width: 50px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.bg {
    background-color: rgb(255, 64, 129);
}

.add-button {
    height: 35px;
}