.player-card-view {
    min-width: 280px;
    width: 40%;
    overflow:auto
}

.pic-size {
    height: 50px;
    width: 50px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.bg {
    background-color: rgb(255, 64, 129);
}